html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
}

$colors: (
  btn1: #444444,
  btn2: #00499c,
  btn1-alt: #1b1b1b,
  btn2-alt: #002958,
  white: #fff,
  bordercolor: #005eca,
  black: #000,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}
